<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ann">Link</a>
      </li>
    </ul>
  </div>
</div>
<h1 class="head">Welcome to lung cancer detection</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Lung Cancer</h5>
          <p>
            Lung cancer is cancer that forms in tissues of the lung, usually
            in the cells that line the air passages. It is the leading cause
            of cancer death in both men and women.
          </p>
          <a href="#" class="card-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ANN</h5>
          <a routerLink="/info"> read more </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CNN</h5>
          <p></p>
          <a routerLink="/cnn"> read more </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SVM</h5>
          <a routerLink="/svm"> read more </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Random forest</h5>
          <a routerLink="/RF"> read more </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Test</h5>
          <a routerLink="/info" type="button" class="button"> click </a>
        </div>
      </div>
    </div>
  </div>
</div>
